@import 'styles/constant';

.projectMenu {
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  word-break: keep-all;
  border-bottom: 1px solid $LINE_COLOR;

  .item {
    font-size: 1.1rem;
    padding: 8px 12px;
    word-break: keep-all;
    min-width: 80px;
    text-align: center;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $DARK_GRAY_COLOR;
    }

    &.selected {
      font-weight: 600;
      border-bottom: 1px solid $MAIN_COLOR;
    }
  }
}

@include mq(sp) {
  .projectMenu {
    width: 100vw;
  }
}

