@import 'styles/constant';

.projectInfo {
  padding: 8px;

  .title {
    padding: 4px 0px;
    font-size: 18px;
    color: $MAIN_COLOR;
    border-bottom: 1px solid $LINE_COLOR;
  }

  .actionArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    :global .button{
      &:local.screenshotRequestButton {
        margin: 2px 4px;
        color: $WHITE_TEXT_COLOR;
        background-color: $MAIN_COLOR;
      }

      &:local.addPageButton {
        margin: 0px 4px;
        color: $PLANE_TEXT_COLOR;
        background-color: $SUB_COLOR;
      }
    }
  }
}