@import 'styles/constant';

.actionItem {
  position: relative;
  margin: 15px 15px 15px 0px;
  padding: 8px;
  border: 2px solid $DARK_GRAY_COLOR;
  border-radius: 8px;
  background-color: $WHITE_COLOR;

  &:after {
    position: absolute;
    top: 0;
    right: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-top: -12px;
    color: $WHITE_TEXT_COLOR;
    background-color: $MAIN_COLOR;
    white-space: pre-wrap;
    content: attr(data-index);
  }

  &:global.sortable-chosen {
    border: 3px solid $MAIN_COLOR;
  }

  .inputTitle {
    color: $MAIN_COLOR;
    display: flex;

    .title {
      display: flex;
      flex: 1 1 0;
    }

    .trash {
      display: flex;
      padding: 0 10px;
      color: $WARNING_COLOR;
      cursor: pointer;
    }

    :global .draggable {
      display: flex;
      padding: 0 10px;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  .inputItem {
    margin: 15px 0px;

    .inputLabel {
      color: $MAIN_COLOR;
    }

    .inputText {
      font-size: 18px;
      padding: 5px;
      width: 100%;
    }

  }

  .option {
    background-color: #EDEDED;

    .optionArea {
      padding: 8px;
      border-radius: 12px;
    }
  }
}