@import 'styles/constant';

.label {
  // TODO 暫定版。最終的にはSVGアイコンで表現する
  &:global.SUCCESS:before {
    color: $MAIN_COLOR;
    content: " S ";
  }
  &:global.ERROR:before {
    color: $ERROR_COLOR;
    content: " E ";
  }
  &:global.WAIT:before {
    color: $LINK_COLOR;
    content: " W ";
  }
}
