@import 'styles/constant';

.resultItemInfo {
  padding: 12px;

  .sctionTitle {
    padding: 4px 0px;
    font-size: 18px;
    color: $MAIN_COLOR;
    border-bottom: 1px solid $LINE_COLOR;
  }
}