@import 'styles/constant';

.resultItemInfo {
  padding: 12px;
  .infomation{
    .item {
      margin: 10px 0;
  
      .content {
        &.status {

          &:global.SUCCESS {
            color: $MAIN_COLOR;
          }
          &:global.WARNING {
            color: $LINK_COLOR;
          }
          &:global.ERROR {
            color: $ERROR_COLOR;
          }
        }
      }
    }
    
  }
}