@import 'styles/constant';

.screenshotInfo {
  padding: 8px;

  .infoMessage {
    margin: 10px 0;
    line-height: 1.6rem;
    font-size: 1rem;
    color: $PLANE_TEXT_COLOR;
  }

  .note {
    font-size: 0.8rem;
  }
}