// 色を定義するSCSS

// スタイルに対する色
$MAIN_COLOR: #5AAB16;
$SUB_COLOR: #FBDB25;
$LINK_COLOR: #65B2F5;
$LINE_COLOR: #E8E8E8;
$OVERLAY_COLOR: rgba(0, 0, 0, 0.5);
$PINK_COLOR: #f2b0f1;
$WARNING_COLOR: #E34D36;
$ERROR_COLOR: #D91A20;
$DARK_GRAY_COLOR: #969191;
$LIGHT_GRAY_COLOR: #F0F2F5;
$WHITE_COLOR: #FFFFFF;
$LIGHT_GREEN_COLOR: #F2FAED;

// テキストに対する色
$PLANE_TEXT_COLOR: #707070;
$SUB_TEXT_COLOR: #E8E8E8;
$PLACE_HOLDER_COLOR: #CBCBCB;
$BLACK_TEXT_COLOR: #000000;
$WHITE_TEXT_COLOR: #FFFFFF;
$WARNING_TEXT_COLOR: #E34D36;
$ERROR_TEXT_COLOR: #D91A20;