@import 'styles/constant';

.quickView {
  width: 200px;
  height: 100%;
  overflow: scroll;

  .closeMenuItem , .gotoListMenuItem, .reloadListMenuItem {
    display: flex;
    position: relative;
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid $LINE_COLOR; 
    cursor: pointer;
    &:hover {
      color: $WHITE_TEXT_COLOR;
      background-color: $LINK_COLOR;
      transition: all 0.3s ease-in-out;
    }

    .main {
      flex: 1 1 0;
    }
  }

  .menuItem {
    position: relative;
    padding: 8px 20px 8px 8px;
    font-size: 14px;
    color: $LINK_COLOR;
    border-bottom: 1px solid $LINE_COLOR; 
    cursor: pointer;

    .main {
      .title {
        font-size: 14px;
        color: $LINK_COLOR;

        &:global.SUCCESS:before {
          color: $MAIN_COLOR;
          content: " S ";
        }
        &:global.ERROR:before {
          color: $ERROR_COLOR;
          content: " E ";
        }
        &:global.WAIT:before {
          color: $LINK_COLOR;
          content: " W ";
        }
      }

      .sub {
        font-size: 12px;
        text-align: right;
      }
    }

    &.selected{
      background-color: $MAIN_COLOR;

      &:hover {
        color: $WHITE_TEXT_COLOR;
        background-color: $MAIN_COLOR;
      }

      .main {
        .title {
          font-size: 14px;
          color: $WHITE_TEXT_COLOR;
          font-weight: bold;

          &:global.SUCCESS:before {
            color: $WHITE_TEXT_COLOR;
          }
        }
      }

      .sub {
        &:global.NO_DIFF {
          color: $WHITE_TEXT_COLOR;
        }
      }
    }

    &:hover {
      color: $LINK_COLOR;
      background-color: #F4F4F4;
    }
  }
}

.closeQuickView {
  width: 20px;
  height: 100%;
  min-height: 100vh;
  color: $LINK_COLOR;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $WHITE_TEXT_COLOR;
    background-color: $LINK_COLOR;
    transition: all 0.3s ease-in-out;
  }

  .label {
    font-size: 13px;
    writing-mode: vertical-rl;
  }
}
