@import 'styles/constant';

.changePassword {  
  .inputButton {
    font-size: 14px;
    color: $WHITE_COLOR;
    display: block;
    margin: auto;
    background-color: $MAIN_COLOR;
    padding: 8px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    text-align: center;

    &:disabled {
      opacity: 0.5;
    }
  }

  .actions {
    display: flex;
    text-align: right;
    margin-top: 15px;

    .action {
      margin:6px;
    }
  }
}