@import 'styles/constant';

.pageForm {
  .inputArea {
    margin: 10px 0;

    .sectionMessage {
      font-size: 14px;
      color: $PLANE_TEXT_COLOR;
    }
  }

  .commonActionList {
    margin: 20px 0;

    .detail {
      padding: 8px;

      .message {
        margin: 5px 0;
        font-size: 14px;
        color: $PLANE_TEXT_COLOR;
      }
  
      .enableActionToggle {
        text-align: right;
        color: $PLANE_TEXT_COLOR;
      }
    }
  }

  .actionArea {
    text-align: right;

    .postButton {
      color: $LINK_COLOR;
      cursor: pointer;
      margin: 0 10px;
    }
  }
}

.disable {
  pointer-events: none;
  opacity: 0.25;
  cursor: not-allowed;
}

hr.border {
  margin-bottom:5px;
}