@import 'styles/constant';

.accordionBlock {
  background-color: #F2FAED;
  border-radius: 8px;
  padding: 8px;
  margin: 10px 0;

  .accordion {
    box-sizing: border-box;
    overflow: hidden;
  
    &.open {
      max-height: 100%;
    }
  
    &.close {
      max-height: 0;
    }
  }
  
  .accordionToggle {
    color: $LINK_COLOR;
    cursor: pointer;
  
    &.open:before {
      content: '-';
      padding-right: 8px;
    }
  
    &.close:before {
      content: '+';
      padding-right: 8px;
    }
  }
}

