@import 'styles/constant';

.pagination{

  .page {
    margin: 10px 0px;
    display: none;

    &.display {
      display: block;
    }
  }

  .actions{
    display: flex;

    .space {
      flex: 1 1 0;
    }

    .pageButton {
      cursor: pointer;
      color: $LINK_COLOR;
    }
  }
}

