@import 'styles/constant';

.loading {
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  img {
    max-width: 100%
  }
}

