@import 'styles/constant';

.divideForm {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: $LIGHT_GRAY_COLOR;

  .block {
    width: 50%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    box-sizing: border-box;

    &.appInfo {
      .title {
        font-family: 'Nunito';
        font-size: 60px;
        text-align: center;
        color: $MAIN_COLOR;
      }
  
      .description {
        max-width: 70%;
        font-size: 30px;
        color: $BLACK_TEXT_COLOR;
      }
  
      .detail {
        max-width: 90%;
        text-align: center;
        box-shadow: 0px 3px 6px #70707070;
        margin-top: 20px;
  
        .image {
          width: 100%;
        }
      }
    }

    @include mq(sp) {
      &.appInfo {
        display: none;
      }
    }

    .spTitle {
      display: none;
      font-family: 'Nunito';
      font-size: 60px;
      text-align: center;
      color: $MAIN_COLOR;
    }

    @include mq(sp) {
      .spTitle {
        display: block;
      }
    }
  }

  @include mq(sp) {
    .block {
      width: 100%;
    }
  }
}

@include mq(sp) {
  .divideForm {
    height: 100vh;
  }
}