@import 'styles/constant';

.forgotPassword {
  width: 90%;

  .formArea {
    background-color: rgba(255, 255, 255, 0.8);;
    box-shadow: 0px 3px 6px #70707070;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;

    .title {
      font-family: 'Nunito';
      font-size: 30px;
      text-align: center;
      color: $MAIN_COLOR;
    }
  
    .inputButton {
      font-size: 14px;
      color: $WHITE_COLOR;
      display: block;
      margin: auto;
      background-color: $MAIN_COLOR;
      padding: 8px;
      border-radius: 8px;
      border:none;
      cursor: pointer;
      text-align: center;

      &:disabled {
        opacity: 0.5;
      }

    }

    .actions {
      display: flex;
      text-align: right;
      margin-top: 15px;

      .action {
        margin:6px;
      }
    }

    .subMenu {
      text-align: left;
      margin-top: 15px;

      .item {
        margin:6px;
      }
    }
  }

  @include mq(sp) {
    .formArea {
      min-width: 95%;
    }
  }
}